<h2>@ViewBag.renderKq</h2>
<form asp-action="GiaiPhuongTrinhBac2">
    <label for="">He so A</label>
    <input type="text" name="a">
    <br>

       <label for="">He so B</label>
    <input type="text" name="b">
    <br>


       <label for="">He so C</label>
    <input type="text" name="c">
    <br>

    <input type="submit" value="OK">
</form>